@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--header-bar-height: 175px;
	--shadow-1: rgba(0, 0, 0, 0.1);
	--shadow-2: rgba(0, 0, 0, 0.2);
	--shadow-5: rgba(0, 0, 0, 0.5);
	--shadow-8: rgba(0, 0, 0, 0.8);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	overflow-y: overlay;
	overflow-x: hidden;
}
html *::-webkit-scrollbar {
	border-radius: 0;
	width: 10px;
}

html *::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.2);
}

html *::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
}
html {
	font-size: 62.5%;
}
